/* @theme gaia-ex */

@import "gaia";

section {
  font-family: "Noto Sans CJK JP", sans-serif;
}
section strong {
  border-bottom: 3px solid red;
  font-weight: 800;
}
section:not(first) > h1 {
  font-size: 15px;
}
section.first {
  text-align: center;
}
section.first > h1 {
  font-size: 60px;
}
section.first > h3 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto 0;
  bottom: 100px;
  font-size: 40px;
}
section.outline {
  background-color: #ddddff;
}
section.outline strong {
  color: red;
  border: 0px;
}
section.outline strong::after {
  content: "← HERE";
}
section span.definition::before {
  content: "def.";
  color: white;
  background-color: blue;
  border-radius: 3px;
  padding: 5px;
  margin-right: 1rem;
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}
